<nav class="sticky-top navbar navbar-dark bg-light container-fluid justify-content-start">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Home</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>About Us</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Contact Us</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Request For Loan</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Your Requests</b>
    </button>
</nav>
<app-loan></app-loan>
<!-- <app-loan-request-list></app-loan-request-list> -->

