<div class="container">
    
    <div class="header">
        <h3>
            List Of Assigned Loan Request(s)
        </h3>
        <hr style="color:transparent;">
    </div>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Request Date</th>
                <th>Approve Date</th>
                <th>Income Mode</th>
                <th>Tenure</th>
                <th>Remarks</th>
                <th>Govt. ID</th>
                <th>Loan Type</th>
                <th>Name</th>
                <th>Assigned To</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>50000</td>
                <td>Pending</td>
                <td>30-10-2022</td>
                <td>03-11-2022</td>
                <td>Private Job</td>
                <td>3 yr(s)</td>
                <td>Wrong Data</td>
                <td>567845674567</td>
                <td>Car Loan</td>
                <td>Abhay Kumar</td>
                <td>Ram Kumar</td>
                <td>
                    <button class="btn btn-success">
                        Accept
                    </button>
                    &nbsp;
                    <button class="btn btn-danger">
                        Reject
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    </div>