<nav class="sticky-top navbar navbar-dark bg-light container-fluid justify-content-start">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Users List</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Loan Requests List</b>
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-outline-secondary me-2" type="button">
        <b>Feedback List</b>
    </button>
</nav>
<app-user-list></app-user-list>
<app-loan-request-list></app-loan-request-list>
